@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Lobster&display=swap');



body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 100%;
    height: 735px;
   /* border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.container-outer{
    width: 80%;
    height: 80%;
   /* border: 1px solid red;*/
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    font-family:'Inria Sans', sans-serif ;
}
.container-outer-left{
    width: 40%;
    height: 100%;
    /*border: 1px solid red;*/
}
.container-outer-right{
    width: 60%;
    height: 100%;
   /* border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-outer-left-top{
    width: 100%;
    height: 40%;
    /*border: 1px solid red;*/
    display: flex;
}
.container-outer-left-top{
    width: 100%;
    height: 30%;
    /*border: 1px solid red;*/
}
.container-outer-left-bootam{
    width: 100%;
    height: 70%;
    /*border: 1px solid red;*/
   
}
.container-outer-left-top-left{
    width: 50%;
    height: 100%;
   /* border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-image{
    width: 40%;
    height: 60%;
    border-radius: 100%;
   /* border: 1px solid red;*/
    background-image: url(Image/user/man-avatar-profile-male-face-260nw-471975115.webp);
    background-size: cover;
}
.h3{
    font-size: 30px;
}
.container-outer-left-bootam-top{
    width: 100%;
    height: 80%;
   /* border: 1px solid red;*/
}
.container-outer-left-bootam-bootam{
    width: 100%;
    height: 20%;
    /*border: 1px solid red;*/
    display: flex;
}
.container-outer-left-bootam-bootam-text{
    width: 30%;
    height: 100%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-outer-left-bootam-bootam-button{
    width: 70%;
    height: 100%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width: 150px;
    height: 30px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: black;
    color: antiquewhite;
    border: 1px solid  antiquewhite;
    font-size: 18px;
    font-family:'Inria Sans', sans-serif ;
    transition: 0.5s;
}
button:hover{
    background-color: bisque;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
    cursor: pointer;
}
.user-Details{
    width: 100%;
    height: 16.666%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-outer-right-outer{
    width: 90%;
    height: 90%;
   /* border: 1px solid red;*/
}
.container-outer-right-outer-top{
    width: 100%;
    height: 15%;
    /*border: 1px solid red;*/
    display: flex;

}
.container-outer-right-outer-top-left,.container-outer-right-outer-top-right{
    width: 50%;
    height: 100%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-outer-right-outer-bootam{
    width: 100%;
    height: 85%;
    border: 1px solid rgb(47, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-outer-right-outer-bootam-outer{
    width: 90%;
    height: 90%;
   /* border: 1px solid red;*/
}
.order-history-items{
    width: 100%;
    height: 19%;
   /* border: 1px solid red;*/
    display: flex;
}
.order-img{
    width: 40%;
    height: 60%;
   /* border: 1px solid red;*/
    background-image: url(Image/cart/image01.png);
    background-size: cover;
}
.order-details{
    width: 20%;
    height: 100%;
    /*border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}